# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

logs
src/assets/data.pkl
src/assets/logs
src/assets/datas/angle_datas.pkl
src/assets/models/angle/model_saved.h5
src/assets/models/angle/model_saved.keras
src/assets/models/angle/saved_model/fingerprint.pb
src/assets/models/angle/saved_model/saved_model.pb
src/assets/models/angle/saved_model/variables/variables.data-00000-of-00001
src/assets/models/angle/saved_model/variables/variables.index
