.top-bar {
  .title {
    position: absolute;
    left: 10px;
    align-self: center;
    font-size: x-large;
  }
  float: right;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: fixed;
  background: black;
}
.top-bar::after {
  content: "";
  background: white;
  position: absolute;
  width: 100vw;
  height: 1px;
}
mat-drawer-content {
  height: 100vh;
}

.content-title {
  background: red;
  cursor: pointer;
}
.page.active {
  // background-color: yellow;
}
.active-link {
  // background-color: yellow;
}
