<mat-drawer-container class="example-container">
  <mat-drawer #drawer [mode]="'over'">I'm a drawer</mat-drawer>
  <mat-drawer-content>
    <div class="top-bar">
      <div class="title">Victor Barbosa</div>
      <!-- <button
        mat-icon-button
        (click)="drawer.toggle()"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </div>
    <div>
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
